*{
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	font-family:Arial,"微软雅黑","microsoft yahei";
}

#game_panel {
    position:relative;
    margin-top:10px;
    margin-left:20px;
}

.box {
	position:absolute;
	background:#ccc;
	border:1px solid #fff;
}

.snake {
    position:absolute;
    background:red;
    border:1px solid #fff;
}

.food {
    position:absolute;
    background:blue;
    border:1px solid #fff;
}